<div class="container page-content">
  <div class="row">
    <div class="col-sm">
      <p>Співпраця з видавництвом:<br>
        +38 (066) 465-21-12 — Євген Данілов<br>
        +38 (067) 572-74-58 — Олег Місяк</p>
    </div>
    <div class="col-sm">
      <a class="footer-link" routerLink="/about" routerLinkActive="active">Видавництво</a><br>
      <a class="footer-link" routerLink="/books" routerLinkActive="active">Книгарня</a><br>
      <a class="footer-link" routerLink="/projects" routerLinkActive="active">Проекти</a><br>
      <a class="footer-link" routerLink="/contacts" routerLinkActive="active">Контакти</a>
    </div>
    <div class="col-sm">
      <p>Дізнатись більше про<br>
      <a class="footer-link" href="http://newacropolis.org.ua/uk/about/shcho-take-novyi-akropol"
         target="_blank">Новий Акрополь</a></p>
      <a class="footer-link" (click)="openAdminFormModal()">Вхід</a>
    </div>
  </div>
</div>
