<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>ВИДАВНИЦТВО</h1>
      <p>Видавництво «Новий Акрополь» створене у 1994 році як підрозділ одноіменної культурної асоціації, головною метою якої є поширення філософських поглядів у суспільстві, формування ставлення до філософії як до невід’ємної частки сучасної цивілізації та культури. Наслідком цього стала робота зі створення періодичних та неперіодичних видань протягом більше ніж 20 років. За цей час світ побачили книжки філософської, культурологічної, езотеричної спрямо- ваності зарубіжних та вітчизняних авторів, зокрема П. Адо, Х.А. Лівраги, Д.С. Гусман, О.П. Блаватської, Дж. Бруно та ін.</p>

      <p>Останніми роками видавництво співпрацює з провідними українськими перекладачами, зокрема з С. Йосипенком, О. Йосипенко, В. Сахном.</p>
      <p>Видавництво має на меті познайомити українського читача з найкращими філософськими і художніми творами, що можуть зацікавити не лише спеціалістів, а й широке коло читачів.</p>
    </div>
  </div>
</div>
