<div class="container page-content">
  <div class="row">
    <div class="col-12">
      <h2>Контакти</h2>
      <p>З питань співпраці з видавництвом звертайтеся за телефоном:<br>
        <strong>+38 (066) 465-21-12 — Євген Данілов</strong>,<br>
        +38 (067) 572-74-58 — Олег Місяк</p>

      <p>Придбати книги можна у всіх представництвах «Нового Акрополя» в Україні та книгарнях вашого міста, а також у <a href="https://www.facebook.com/NewAcropolisPublishing/shop/" target="_blank">Facebook-крамниці</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 contacts-item-content">
      <h4>Вінниця</h4>
      <p><strong>Адреса:</strong> вул. Соборна 75, 3 поверх<br>
      <strong>Телефон:</strong> (067) 865-89-92</p>
    </div>
    <div class="col-sm-4 contacts-item-content">
      <h4>Дніпро</h4>
      <p><strong>Адреса:</strong> вул. Надії Алексєєнко, 21, оф. 612<br>
      <strong>Телефон:</strong> (066) 170-68-41, (056) 785-07-94, (068) 856-24-72</p>
    </div>
    <div class="col-sm-4 contacts-item-content">
      <h4>Запоріжжя</h4>
      <p><strong>Адреса:</strong> вул. Сталеварів, 15<br>
      <strong>Телефон:</strong> (050) 451-50-77, (093) 361-81-86</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 contacts-item-content">
      <h4>Івано-Франківськ</h4>
      <p><strong>Адреса:</strong> вул. Новгородська 9<br>
      <strong>Телефон:</strong> (068) 128-56-71, (095) 464-54-36</p>
    </div>
    <div class="col-sm-4 contacts-item-content">
      <h4>Київ</h4>
      <p><strong>Адреса:</strong> вул. Данила Щербаківського, 9А<br>
        <strong>Телефон:</strong> (067) 656-33-62, (066) 753-43-78</p>
    </div>
    <div class="col-sm-4 contacts-item-content">
      <h4>Львів</h4>
      <p><strong>Адреса:</strong> вул. Дорошенка 7<br>
        <strong>Телефон:</strong> (067) 585-18-57, (099) 174-07-20, (093) 713-23-00, (032) 255-63-77</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 contacts-item-content">
      <h4>Миколаїв</h4>
      <p><strong>Адреса:</strong> вул. Московська, 47<br>
        <strong>Телефон:</strong> (066) 685-39-22, (0512) 47-42-72</p>
    </div>
    <div class="col-sm-4 contacts-item-content">
      <h4>Одеса</h4>
      <p><strong>Адреса:</strong> вул. Пішонівська, 24/2<br>
        <strong>Телефон:</strong> (067) 988-83-60, (096) 738-24-20</p>
    </div>
    <div class="col-sm-4 contacts-item-content">
      <h4>Полтава</h4>
      <p><strong>Адреса:</strong> вул. Пушкіна 52<br>
        <strong>Телефон:</strong> (067) 504-00-16, (095) 127-33-14, (093) 905-05-27</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4 contacts-item-content">
      <h4>Харків</h4>
      <p><strong>Адреса:</strong> вул. Римарська, 19, оф. 31<br>
        <strong>Телефон:</strong> (095) 008-55-09</p>
    </div>
  </div>
</div>
