.bookstore-item-wrap
  padding: 10px

.bookstore-item-content
  position: relative
  // for users
  //height: 500px
  //for admins
  height: 525px
  padding: 20px
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1)

.bookstore-item-image
  position: relative
  .bookstore-item-image-holder
    display: flex
    img
      height: 300px
    img:hover
      cursor: pointer

.bookstore-item-author
  padding-top: 10px

.bookstore-item-title
  padding-bottom: 10px
  span
    font-size: 17px
    font-weight: bold
    line-height: 20px
  .title:hover
    cursor: pointer
    text-decoration: underline
  .subtitle
    font-size: 16px
    font-style: italic
    font-weight: normal

@import "../../../assets/book-price-btn"
