.bookstore-item-wrap
  padding: 0 10px
  ul
    list-style-type: none
    margin: 0
    padding: 0

.bookstore-item-content
  position: relative
  padding: 20px
  background-color: antiquewhite

.bookstore-item-image
  position: relative
  .bookstore-item-image-holder
    display: flex
    img
      height: 300px

.bookstore-item-author
  padding-top: 10px

.bookstore-item-title
  span
    font-weight: bold

.bookstore-item-buy-bucket
  padding-top: 10px
  padding-bottom: 20px
  .book-price
    display: inline-block
  .book-buy-button
    display: inline-block
    position: absolute
    right: 20px

