<div class="container page-content" *ngIf="showAllBooks">
  <div class="row">
    <div class="col-12">
      <h2>Наші книги</h2>
      <p>Придбати книги можна у всіх представництвах «Нового Акрополя» в Україні та книгарнях вашого міста, а також у <a href="https://www.facebook.com/NewAcropolisPublishing/shop/" target="_blank">Facebook-крамниці</a>.</p>
      <button type="button" class="btn btn-info"
              [routerLink]="['/books/add']" *ngIf="authService.isAdmin">Додати книгу</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-3 col-sm-6 bookstore-item-wrap" *ngFor="let book of booksList">
      <div [className]="authService.isAdmin ? 'bookstore-item-content admin' : 'bookstore-item-content user'">
        <div class="bookstore-item-image" (click)="openBookDetailsPage(book._id)">
          <div class="bookstore-item-image-holder">
            <img src="{{book.imageUrl}}" alt="{{book.title}}" title="{{book.title}}">
          </div>
        </div>
        <div class="bookstore-item-author">
          <span>{{book.author}}</span>
        </div>
        <div class="bookstore-item-title" (click)="openBookDetailsPage(book._id)">
          <span class="title">{{book.title}}</span><br>
          <span class="subtitle">{{book.subtitle}}</span>
        </div>

        <div class="bookstore-item-buy-bucket" ngSwitch="{{book.buyButton}}">
          <!--if the book is available for buying -->
          <div *ngSwitchCase="'true'">
            <div class="book-price">
              <span>{{book.price}} грн</span>
            </div>
            <div class="book-buy-button">
              <button type="button" class="btn btn-primary">Купити</button>
            </div>
          </div>
          <!--if the book is not available for buying -->
          <div *ngSwitchCase="'false'" class="bookstore-item-buy-not-available">
            <p><span>Немає в наявності</span></p>
            <p class="bookstore-item-note">Готується електронне видання</p>
          </div>
          <!--default case when there are no matches -->
          <div *ngSwitchDefault>
            <p>Наявність та ціну книги уточнюйте у представників видавництва</p>
          </div>
        </div>

        <div class="admin-buttons" *ngIf="authService.isAdmin">
          <button type="button" class="btn btn-info"
                  (click)="openBookEditPage(book._id)">Редагувати</button>
          <button type="button" class="btn btn-danger"
                  (click)="deleteBook(book._id, book)">Видалити</button>
        </div>

      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
