<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Наші книги</h2>
      <p>Придбати книги можна у всіх представництвах «Нового Акрополя» в Україні та книгарнях вашого міста, а також у <a href="https://www.facebook.com/NewAcropolisPublishing/shop/" target="_blank">Facebook-крамниці</a>.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-lg-3 col-sm-6 bookstore-item-wrap" *ngFor="let book of booksList">
      <div class="bookstore-item-content">
        <div class="bookstore-item-image">
          <a href="#"></a>
          <div class="bookstore-item-image-holder">
            <img src="{{book.imgUrl}}" alt="" title="">
          </div>
        </div>
        <div class="bookstore-item-author">
          <span>{{book.author}}</span>
        </div>
        <div class="bookstore-item-title">
          <span>{{book.title}}</span><br>
          <span class="subtitle">{{book.subtitle}}</span>
        </div>
        <div class="bookstore-item-buy-bucket">
          <div class="book-price">
            <span>{{book.price}} грн</span>
          </div>
          <div class="book-buy-button">
            <button type="button" class="btn btn-primary">Купити</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
