.bookstore-item-wrap
  padding: 10px

.bookstore-item-content
  position: relative
  height: 480px
  padding: 10px
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1), 0 2px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 1px 0 rgba(0, 0, 0, 0.1)

.bookstore-item-image
  position: relative
  .bookstore-item-image-holder
    display: flex
    img
      height: 300px

.bookstore-item-author
  padding-top: 10px

.bookstore-item-title
  span
    font-size: 18px
    font-weight: bold
  .subtitle
    font-style: italic
    font-weight: normal

.bookstore-item-buy-bucket
  padding-top: 10px
  padding-bottom: 20px
  .book-price
    display: inline-block
    font-size: 20px
  .book-buy-button
    display: inline-block
    position: absolute
    right: 20px

.bookstore-item-note
  font-size: 14px
