<div class="container page-content">
  <div class="row">
    <div class="col-12">
      <h2>Редагувати: {{book?.title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="book-image-holder">
        <img src="{{book?.imgUrl}}">
      </div>
    </div>
    <div class="col-sm-6 col-md-8" *ngIf="book">

      <form [formGroup]="bookEditForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label>Автор:</label>
          <input type="text" formControlName="author" class="form-control" value="{{book.author}}">
        </div>
        <div class="form-group">
          <label>Рік видання:</label>
          <input type="text" formControlName="year" class="form-control" value="{{book.year}}">
        </div>
        <div class="form-group">
          <label>ISBN:</label>
          <input type="text" formControlName="isbn" class="form-control" value="{{book.isbn}}">
        </div>
        <div class="form-group">
          <label>Мова видання:</label>
          <input type="text" formControlName="language" class="form-control" value="{{book.language}}">
        </div>
        <div class="form-group">
          <label>Перекладено з:</label>
          <input type="text" formControlName="translatedFrom" class="form-control" value="{{book.translatedFrom}}">
        </div>
        <div class="form-group">
          <label>Опис:</label>
          <textarea rows="6" formControlName="description" class="form-control" value="{{book.description}}"></textarea>
        </div>

        <button type="submit" [disabled]="!bookEditForm.valid" class="btn btn-primary">Зберегти</button>
        <button type="button" (click)="goBack()" class="btn btn-secondary">Назад</button>

      </form>

    </div>
  </div>
</div>
