<div class="container page-content">
  <div class="row">
    <div class="col-12">
      <h2>Редагувати: {{book?.title}}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="book-image-holder">
        <img src="{{book?.imageUrl}}">
      </div>
    </div>
    <div class="col-sm-6 col-md-8" *ngIf="book">
      <app-book-form
        (bookFormSaved)="onSavedData($event)"
        [book]="book">
      </app-book-form>
      <button type="button" (click)="goBack()" class="btn btn-secondary">Назад</button>
    </div>
  </div>
</div>
